total：物理内存大小，就是机器实际的内存

used：已使用的内存大小，这个值包括了 cached 和 应用程序实际使用的内存

free：未被使用的内存大小

shared：共享内存大小，是进程间通信的一种方式

buffers：被缓冲区占用的内存大小

cached：被缓存占用的内存大小
total：物理内存大小，就是机器实际的内存

used：已使用的内存大小，这个值包括了 cached 和 应用程序实际使用的内存

free：未被使用的内存大小

shared：共享内存大小，是进程间通信的一种方式

buffers：被缓冲区占用的内存大小

cached：被缓存占用的内存大小
